/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
vendor

.builderator
.vagrant
Berksfile.lock
/VERSION
*.patch
.ruby-gemset
*.sw[a-z]
